:root {
    --white-color : #fff;
    --black-color : #000 ;
    --red-color   : #d33 ;
    --text-color : #333 ;
}
* {
    box-sizing: inherit;
}
html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}
.m-left {
    margin-left: 1rem !important;
}
.m-top {
    margin-top: 10rem !important;
}

body {
    background-color: #f2f5f8;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
  width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
}
